body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

h1 {
  font-size:50pt ;
  line-height:0.4;
  padding-top:50px;
  letter-spacing: 5px;
}


h2 {
  color: #2d2d2d;
  font-weight: 100;
  margin-top: -30px;
}

h3 {
  color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #2d2d2d;
}

th {
  background-color: #2d2d2d;
  font: #fff;
  padding-top: 10px;
}

th:first-child {
  border-radius: 30px 0px 0px 0;
  width: 70%;
}

th:last-child {
  border-radius: 0px 30px 0px 0px;
  width:30%;
}

ul {
  list-style: none;
}

table {
  width:100%;
  border-collapse:collapse;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.fun-font {
  font-family: 'Bangers', cursive;
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.round {
  border-radius: 30px;
}

.round-inverse {
  border-radius: 30px 30px 0px 0;
}

.shadow {
-webkit-box-shadow: 10px 10px 38px -14px rgba(69,69,69,1);
-moz-box-shadow: 10px 10px 38px -14px rgba(69,69,69,1);
box-shadow: 10px 10px 38px -14px rgba(69,69,69,1);
}

.container {
  width: 600px;
  margin: -10px auto 10px auto;
}

.card.first, .card.third {
  background-color: #fff;
}

.card.second {
  background-color: #2d2d2d;
  padding-top: 10px;
  margin-top: 30px;
}

.inner {
  background-color: #fff;
  margin:0 auto;
  width: 100%;
  padding: 5px 0 ;
}

.card.third {
  margin-top: 20px;
}


.mypic {
  height: 400px;
  width:300px;
}

.social {
  font-size: 40px;
  padding-right: 30px;
  padding-top: 5px;
}




